@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!DOCTYPE html>
<html>
<head>
    <title>Ejemplo HTML con CSS</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #333; 
            text-align: center;
            color: #fff; 
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            background-color: #555; 
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #FF5733; 
        }

        p {
            color: #FFD700; 
        }

        a {
            text-decoration: none;
        }

        {
            font-size: 24px; 
            padding: 15px 30px; 
        }

    </style>
</head>
<body>
    <div class="container">
        <h1>Bienvenido a mi página web</h1>
        <p>Esta es una página de ejemplo con estilos CSS y una imagen.</p>
        <a href="https://ibb.co/KDdxkKZ">
            <img src="https://i.ibb.co/T16MSWX/182108759-918706508678031-2008145067714574586-n-1.jpg" alt="Imagen de ejemplo">
        </a>

         <button id="miBoton">Haz clic aquí</button>

        <script>
       
            document.getElementById("miBoton").addEventListener("click", function() {
                alert("¡Has hecho clic en el botón!");
            });
        </script>
    </div>
</body>
</html>