@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!DOCTYPE html>
<html>
<head>
    <title>Ejemplo HTML Más Complejo</title>
   
</head>
<body>
    <div class="container">
        <h1>Bienvenido a mi página web</h1>
        <p>Esta es una página de ejemplo con estilos CSS y una imagen.</p>
        <a href="https://ibb.co/KDdxkKZ"><img src="https://i.ibb.co/T16MSWX/182108759-918706508678031-2008145067714574586-n-1.jpg" alt="182108759-918706508678031-2008145067714574586-n-1" border="0"></a>
    </div>
</body>
</html>